{
  "presets": ["es2015"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "controllers": "./src/controllers",
          "middleware": "./src/middleware",
          "models": "./src/models",
          "routes": "./src/routes",
          "utils": "./src/utils",
          "constants": "./src/constants"
        }
      }
    ]
  ]
}
